.options-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding:0 15px;
    background-color:white;
    outline: none;
    border:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 15px 5%;
    font-family: inherit;
}
.options-button img{
    width: 25px;
    height: 25px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.extra-filter{
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom:0;
    width: inherit !important;
}