.auto-input{
    width: 90%;
    margin:0 5% 0 5%;
    height: 50px;
    border:0;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    position: relative;
}
.auto-input-lbl{
    height: 100%;
    align-items: center;
    display: flex;
    font-size:14px;
    color:rgb(0, 132, 137);
    position: absolute;
}
.auto-input-inp{
    height: 100%;
    border:0;
    outline: 0 !important;
    box-sizing: border-box;
    padding-left:60px;
    line-height: 26px;
    color: #555;
    width: 100%;
}
.icon{
    width: 28px;
    height:28px;
    position: absolute;
    right:15px;
    top:0;
    background-color: white;
    border-radius: 50%;
    transform:translateY(-50%);
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
.icon img{
    width: 25px;
    height: 25px;
    /*user-drag: none;*/
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}